<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title></title>
	<link rel="stylesheet" href="/app/bower_components/foundation/css/foundation.css">
	<style>
	.error input, .error textarea, .error select {
		margin-bottom: 1rem;
	}
	.bold{
		font-weight:bold;
	}
	</style>
</head>
<body ng-controller="TextController">
	<form action="" autocomplete="off" name="myForm" id="myForm" ng-submit="submitForm()">
		<div class="row" ng-repeat="question in q_list">
			<div ng-if="question.type=='single'">
				<label for="{{question.q}}">{{question.q}}</label>
				<div class="small-12 large-3 columns" ng-repeat="a in question.as">
					<input type="radio" name="{{question.q}}" id="{{a}}" value="{{a}}" ng-click="clear($event.target)">
					<label for="{{a}}">{{a}}</label>
				</div>
			</div>
			<div ng-if="question.type=='mutiple'">
				<label for="{{question.q}}">{{question.q}}</label>
				<div class="small-12 large-3 columns" ng-repeat="a in question.as">
					<input type="checkbox" name="{{question.q}}" id="{{a}}" value="{{a}}" ng-click="clear($event.target)">
					<label for="{{a}}">{{a}}</label>
				</div>
			</div>
			<div ng-if="question.type=='text'" ng-keydown="expression">
				<label for="{{question.q}}">{{question.q}}</label>
				<input type="text" name="{{question.q}}" id="{{question.q}}" ng-keydown="clear($event.target)">
			</div>
			<div ng-if="question.type=='select'">
				<label for="{{question.q}}">{{question.q}}</label>
				<select name="{{question.q}}" id="{{question.q}}">
					<option value="">请选择</option>
					<option ng-repeat="op in question.as" value="{{op}}">{{op}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<label for="" ng-model="errMsg"></label>
			<input type="submit" role="button" aria-label="submit form" class="button">
		</div>
	</form>
	<script src="/app/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/app/bower_components/angularjs/angular.min.js"></script>
	<script src="/app/js/index.js"></script>
</body>
</html>